.background-image {
    background-image: url("https://wallpapersmug.com/download/2560x1440/efd860/colorful-dessert-cupcake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  